/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 428px;
  font-family: 'Noto Serif', serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}


header {
  background: #D7A1FD;

}

.logo-part {
  padding: 20px;
}

h1 {
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 10px;
}

h1 strong {
  font-family: 'Nunito Sans', sans-serif;
}

header p, header a {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

nav {
  background: #000;
  padding: 20px;
}


h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
}