/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 428px;
  font-family: 'Noto Serif', serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}


header {
  background: #D7A1FD;

}

.logo-part {
  padding: 20px;
}

h1 {
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 10px;
}

h1 span {
  font-family: 'Nunito Sans', sans-serif;
}

header p, header a {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

header a {
  font-size: 18px;
  line-height: 22px;
}

nav {
  background: #000;
  padding: 20px 42px;
  display: flex;
  justify-content: space-between;
}

main a {
  color: #D7A1FD;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  margin: 0 77px;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.light-part {
  padding: 60px 20px 60px;
}

.light-part img {
  border-bottom: 7px solid #D7A1FD;
}

.light-part .container div {
  border: 1px solid #000;
  max-width: 188px;
  padding-bottom: 30px;
}

.light-part .container p {
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 15px;
  margin-top: 20px;
}

.light-part .container h3 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 20px;
}

.light-part .container {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.citation {
  background: #98FB00;
  padding: 20px;
}

.citation h3 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  font-style: italic;
  letter-spacing: -1.5px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.citation p {
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
}

.color-part {
  background: #F4EDE8;
  padding: 60px 20px;
}

.color-part p {
  font-size: 15px;
  line-height: 22px;
  margin: 20px;
}

.color-part strong {
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  text-transform: uppercase;
}

.color-part .container div {
  border-radius: 20px;
  background: #fff;
  max-width: 189px;
}

.color-part img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.color-part .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

.strong-title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  letter-spacing: -2.5px;
}

.opportunities-part h2 {
  background: #D7A1FD;
  padding: 20px;
  margin-bottom: 0;
}

.opportunities-part p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.opportunities-part .container div {
  background: #98FB00;
  border: 1px solid #000;
  padding: 20px 10px;
  max-width: 214px;
}

.opportunities-part .container {
  display: flex;
  flex-wrap: wrap;
}

footer {
  background: #000;
  padding: 20px 20px 112px;
  margin-top: 60px;
  color: #fff;
}

footer .strong-title {
  color: #313131;
  letter-spacing: normal;
}

footer h3 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

footer a {
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

footer .container {
  display: flex;
  justify-content: space-between;
}